:root {
  --font-family: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: #f2ecdd;
}

.feedback-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: auto;
  background-color: #fff;
}

.email-field {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font-size: 18px;
}

.email-field:hover,
.email-field:focus {
  border-color: #000;
}
.email-field:active {
  border-color: #808080;
}

.text-field {
  display: block;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  height: 80px;
  resize: none;
}

.btn-submit {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: #6c8cff;
  cursor: pointer;
}

.label {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
